// general / pages / pages prix de l'ancien modèle - à la fin Palm / Welcome
@media screen and (min-width: 1280px) {    
    header{
        position:sticky;
        background: black;
        height: 80px;
        padding: 10px 20%;
    }
    .sidenav {
        top: auto;
        left: auto;
        height: 30px;
        width: 250px;
        width: 100%;
        background-color: transparent;
        transition: left 0.5s ease;
        padding-top: 0;
        & ul{
            list-style-type: none;
            display: flex;
            padding: 0;
            margin: 0;
        }
        & a{
        padding: 8px 8px 8px 20px;  
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        color: white;
        font-size: 0.9em;
        display: block;
        transition: 0.3s;
        &:visited{
                color: white;
            }
        }
    }
    body{
        margin: auto;
        box-shadow: 0 0 1em #D9D9D9;
    }
    main{
        max-width: 1000px;
        margin: auto;
    }
    .burger-icon span, .sidenav .close{
        display: none;
    }
    #lang {
        width: 220px;        
        padding: 0 0 0 10px;        
    }    
    #intro{
        margin-top: 38px;
    }
    .flexi{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items:flex-start;        
        & a{
            margin : 20px;
            width: 640px;
            border-radius: 10px;
            transition: 0.1s;
        }
        & a:hover{
            transform: scale(105%);
        }
        & figure{
            max-width: 100%;
            border-radius: 10px 10px 0 0;
            & img{
                width: 100%;
                border-radius: 10px 10px 0 0;
            }
        }
    }
    footer{
        box-shadow: $shadowmobile;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;   
        & img{
            margin: 10px 20px 10px 20px;
        }
        & a, p{
            margin-top: 0px;
        }
    }      
}

