// general / pages / 
@media screen and (min-width: 1280px) {    
    header{
        position:sticky;
        background: black;
        height: 80px;
        padding: 10px 20%;
    }
    .sidenav {
        top: 20px;
        left: auto;
        height: 30px;
        width: 250px;
        width: 100%;
        background-color: transparent;
        transition: left 0.5s ease;
        padding-top: 0;
        & ul{
            list-style-type: none;
            display: flex;
            padding: 0;
            margin: 0;
        }
        & a{
        padding: 8px 8px 8px 20px;  
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        color: white;
        font-size: 0.9em;
        display: block;
        transition: 0.3s;
        &:hover{
            color: #111;
            // transform: none;
        }
        &:visited{
                color: white;
            }
        }
    }
    body{
        margin: auto;
        box-shadow: 0 0 1em #D9D9D9;
    }
    main{
        max-width: 1000px;
        margin: auto;
    }
    .burger-icon span, .sidenav .close{
        display: none;
    }
    .hiddenmobile{
        display: block;
    }
    
    $whitheight:250px;
    .white{        
        margin: -$whitheight auto 0 auto;                
        padding: 10px;
        min-height: $whitheight;
        height: auto;
        width: 30%;
        max-width: none;
        & button {
            width: 200px;            
        }
    }
    .listing{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    figcaption
    {
        max-width: 290px;
    }
    #dispo{
        display: none;
    }
    #nosservices{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        & figure{
            width: 300px;
        }
    }   
    #intro{
        margin-top: 38px;
    }
    #welcometext{
        margin: 40px 9%;
        text-align: center;
    }
    #lamaison{        
        // background-attachment: fixed;
        // background-position: center;
        // // background-repeat: no-repeat;        
    }
    #gmaps{        
        height:600px;        
    }
    footer{
        box-shadow: $shadowmobile;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;   
        & img{
            margin: 10px 20px 10px 20px;
        }
        & a, p{
            margin-top: 0px;
        }
    }      
}

