@import "./variables";
@import "./menu_burger";
@import "./animations";

// general, puis Accueil, prix, galerie, infos

*{
    box-sizing: border-box;     
}
a{
    text-decoration: none;
    color: $colorprimary;        
}
body
{
    margin: 0;    
    padding: 0;
    min-width: 380px;    
    background: $colorbackground;
    color: $colorprimary;    
    font-family: 'Kalam', cursive;
    font-weight: lighter;    
    & em{
        // font-style:normal;         
        text-shadow: 0 0 1px $textshadow;
    }
    & a {
        font-weight: bold;
        font-family: 'Kalam', cursive;
    }
}
header{    
    position:sticky;
    background-color: black;
    opacity: 0.8;    
    top:0px;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
h1, h2, h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: black;
    
}
h1{
    font-size: 1.6em;
    letter-spacing: 0.1em;
    margin-top: 40px;
}
h2{
    font-size: 1.1em;
}
p{
    font-size: 0.9em;
}
.traithorizon{
    display: inline-block;
    border-top: 0.5px solid grey;
    width : 70px;
    margin: 10px 10px 3px 10px;
}
.italic{
    font-style: italic;
    letter-spacing: 0.1em;
}
.txtjustify {
    text-align: justify;
}
#welcometext{
    margin: 40px 9%;
    text-align: justify;
}
.mini{ //dédié aux boutons
    display:inline !important;
    width: 40px !important;
    margin: 0 !important;  
    background: transparent !important;
    border: solid 1px grey !important;            
    border-radius: 10px;
    color:black;
    font-family: Arial;
    font-size: 1em;
    font-weight: 100;
    padding: 5px;        
    text-align: center;
    background: white;
        
}
.hidden{
    display: none;
}
.hiddenmobile{
    display: none;
}
.times{
    font-family: 'Times New Roman', Times, serif;
}
img{
    margin-top: 50px;
    width: 100%;
}
.paragraph{
    margin: 50px 30px 0 30px;
    & p{
        color: $colorgreytext1;
        margin: 40px 10px;
        line-height: 2em;
    }
}
// #lamaison{
//     margin-top: 30px;
//     height: 400px;
//     background: url(../img/2.webp) no-repeat  20% 20%;
//     background-size:300% ;
//     // test parallaxe
//     background-attachment: fixed;
//     background-position: center;
//     // fin test
// }
.white{
    background-color: white;
    margin: -80px 33% 0 33%;
    height: 80px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
        
    & p{
        margin: 0;
        padding: 0;
    }
    & button {
        width: 60%;
        color: black;
        background: white;
        border: solid 1px black;
    }
}
#nosservices{
    margin-top: 40px; 
    // & figure{        
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     & img{
    //         width: 30px;
    //     }
    // }
    // & figcaption{
    //     & h4{
    //         text-align: center;
    //     }
    // }
}
.listing{
    display: flex;
    flex-direction: column;
}
figure{
    margin: 0;    
    display: flex;
    flex-direction: column;
    align-items: center;
    & img{
        width: 30px;
    }
}
figcaption{
    width: 90%;
    max-width: 480px;
    & h4{
        text-align: center;
    }
}

main{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    & p{
        text-align: center;
        margin: 0 5px;
    }
}
footer{
    margin-top: 0;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    background: black;
    text-align: center;    
    & p {
        margin-top: 0;
    }
    & a {
        color: white;
        font-family: 'Kalam', cursive;
        
    }
    & img{
        margin-top: 0;
        height: 50px;
        width: auto;
        background: white;
        padding: 8px;
        border-radius: 20px;
    }
    & #footicons{
        display: flex;
        padding: 0;
        justify-content:center;
        & img{
            width: 50px;
            margin: 10px 20px 10px 20px;
        }
    }    
}
#footlinks{    
    display: flex;
    flex-direction: column;
    & a{        
        font-size: 0.9em;
        font-weight: 100;
        color: white;
        margin-top: 20px;
    }
}
#copyright{
    margin-top: 20px;
}

// ------------------------------- Accueil
button {
    display:block;
    margin: 20px;  
    background: black;
    border: solid #FFFFFF 1px;           
    border-radius: 0;
    color: white;
    font-family: Arial;
    font-size: 1em;
    font-weight: 100;
    padding: 20px;        
    text-align: center;
    transition: 0.4s;
    &:hover {
        cursor: pointer;
    }
}
.mainpage{
    min-height: 700px;
    & h3 {
        font-family: 'Kalam', cursive;
        font-style: italic;
        font-size: 3em;
    }
    & h2 {
        font-size: 3em;
    }
    & p {

    }    
}
.mainpagewhite{
    background: #F1F4F7;
    & h2, p{
        color: $colortextblack;
    }
    & h3{
        color: $colorred;
    }
    & img{
        display: block;
        margin: 20px auto 80px auto;
        width: 90%;
        border-radius: 10px;
    }
}
.mainpagefull {
    & h3{
        color: $colorred;
    }
    & img{
        display: block;
        margin: 20px auto;
        max-height: 500px;
        border-radius: 10px;
    }    
}

#resto{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/Resto.webp) no-repeat fixed 50% 50%;
    // linear grad pour assombrir
    background-size: cover;    
    padding: 250px 0 0 0;
}

.centered{
    margin: 10px auto;
}

// vite fais pour la prez
#gallery{
    display: flex;
    flex-wrap: wrap;
    & img{
        max-width: 200px;
    }
}
#gmaps{
    width:100%;
    height:400px;
    border:0; 
}

// hallucinant : après plusieurs manip, le responsive ne fonctionne qu'en important ici ci-dessous
@import "./desktopresponsive";

